/* @theme custom-floral */
/* marp --theme-set custom-floral.css -- slide.md */
@import 'gaia';

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500;700&display=swap');
* {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}
header {
  text-align: center;
}
section {
  background: url(img/slide_bg3.png) center no-repeat;
  background-size: cover;
  color: #2e2e2e;
}
section.lead {
  background-image: url(img/slide_bg2.png);
}
section.lead.top {
  background-image: url(img/slide_bg1.png);
  color: #f6f6e9;
}
section.lead.sub {
  background-image: url(img/slide_bg3.png);
}
section ul + h2,
section ul + h3 {
  margin-top: 80px;
}
section h3 {
  font-size: 1.2em;
}
footer {
  text-align: center;
  color: #f6f6e9;
}
img[alt="book"]{
  float: left;
  width: 30%;
  margin-right: 60px;
}
blockquote {
  background: #efefef;
  padding: 20px 50px;
  width: 90%;
  font-size: 0.8em;
}
pre {
  width: 90%;
  margin-top: 5px;
}
